[ req ]
default_bits       = 4096
distinguished_name = req_distinguished_name
req_extensions     = req_ext
prompt             = no

[ req_distinguished_name ]
countryName         = GB
stateOrProvinceName = Surrey
localityName        = Camberley
organizationName    = CylCorp
commonName          = {{ item.dns[0] }}

[ req_ext ]
subjectAltName = @alt_names

[alt_names]
{% for san in item.dns -%}
DNS.{{ loop.index }} = {{ san }}
{% endfor %}
{% for san in item.ip -%}
IP.{{ loop.index }} = {{ san }}
{% endfor %}
